In [1]:
import numpy as np 
import pandas as pd
# import pyspark
# import findspark

pd.set_option('display.max_columns', None)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# importing data set
dataset = pd.read_csv('Dataset/Kaggle_Airbnb_Open_Data.csv')

/var/folders/ll/tr3z9w091y55mt3_qxw9k4gr0000gn/T/ipykernel_65546/2695541328.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('Dataset/Kaggle_Airbnb_Open_Data.csv')

In [3]:
# assigning dataset dataframe to 'df'
# in the price column remove $ and , then convert datatype to float

df = dataset

df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].astype('float')

/var/folders/ll/tr3z9w091y55mt3_qxw9k4gr0000gn/T/ipykernel_65546/4144540107.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace('$', '')

In [4]:
df['service fee'] = df['service fee'].str.replace('$', '')
df['service fee'] = df['service fee'].str.replace(',', '')
df['service fee'] = df['service fee'].astype('float')

/var/folders/ll/tr3z9w091y55mt3_qxw9k4gr0000gn/T/ipykernel_65546/958221323.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['service fee'] = df['service fee'].str.replace('$', '')

In [6]:
df.shape

(102599, 26)

In [10]:
# df.columns
df.columns = df.columns.str.strip()
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [12]:
df.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,620.0,124.0,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,368.0,74.0,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

---
1.What can we learn about different hosts and areas?

a.area with the highest number of airbnbs

b.price of the listing avg,range,mean,median ...etc

c.number of reviews per host/listing ratio for each area  (total number of listings / total number of properties)

d.room type with the highest number of room types overall ,location and prices

In [24]:
df_list = df.groupby(['neighbourhood group', 'room type'])['price'].max().head(20).reset_index()
# df_list = df_list.sort_values(ascending=True)
df.sort_values(by='price')
df_list

   neighbourhood group        room type   price
0                Bronx  Entire home/apt  1200.0
1                Bronx     Private room  1200.0
2                Bronx      Shared room  1171.0
3             Brooklyn  Entire home/apt  1200.0
4             Brooklyn       Hotel room  1082.0
5             Brooklyn     Private room  1200.0
6             Brooklyn      Shared room  1197.0
7            Manhattan  Entire home/apt  1200.0
8            Manhattan       Hotel room  1193.0
9            Manhattan     Private room  1200.0
10           Manhattan      Shared room  1199.0
11              Queens  Entire home/apt  1200.0
12              Queens       Hotel room   912.0
13              Queens     Private room  1200.0
14              Queens      Shared room  1198.0
15       Staten Island  Entire home/apt  1196.0
16       Staten Island     Private room  1200.0
17       Staten Island      Shared room  1162.0
18             brookln     Private room   580.0
19            manhatan     Private room   460.0

In [25]:
df['neighbourhood group'].value_counts()

Manhattan        43792
Brooklyn         41842
Queens           13267
Bronx             2712
Staten Island      955
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64